{% load static %}

<!DOCTYPE html>
<html lang="da">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <link type="text/css" rel="stylesheet" href="/static/css/material-icons.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/roboto-fonts.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/base.css" />

  <title>{% block title %}{% endblock %}</title>

</head>

<body>

  <header>

    <div class="navbar-fixed">
      <nav class="grey darken-2">
        <div class="nav-wrapper">
          <a href="{% url 'tasks_view' %}" class="brand-logo left hide-on-med-and-down">META</a>
          <ul class="right">
            {% if user.profile.modtagelse == True %}
            <li><a href="{% url 'overblik' %}">Overblik</a></li>
            {% endif %}
            <li><a href="{% url 'dashboard_view' %}">Opgaver</a></li>
            <li><a href="{% url 'tasks_view' %}">Mine Opgaver</a></li>
            <!-- {% if user.profile.modtagelse == True %}
            <li><a href="{% url 'incoming_view' %}">Modtagelse</a></li>
            {% endif %} -->
            <li><a href="{% url 'avs_view' 1 %}">Søg</a></li>
          </ul>
        </div>
      </nav>
    </div>

  </header>

  <main>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>

    {% block content %}{% endblock content %}
  </main>
  <br><br><br>
  <footer class="page-footer grey darken-2">
    <div class="row left">
      <div class="col l12">
        {% if user.profile.modtagelse == True %}
        <a href="{% url 'suppliers_view' %}" style="margin-right: 30px;">
          <h6 class="white-text" style="display: inline-block;">Leverandører</h6>
        </a>
        <a href="{% url 'machines_view' %}" style="margin-right: 30px;">
          <h6 class="white-text" style="display: inline-block;">Maskiner</h6>
        </a>
        <a href="{% url 'drives_view' %}" style="margin-right: 30px;">
          <h6 class="white-text" style="display: inline-block;">Medier</h6>
        </a>
        <a href="{% url 'archivists_view' %}" style="margin-right: 30px;">
          <h6 class="white-text" style="display: inline-block;">Arkivarer</h6>
        </a>
        {% else %}
        <h6 class="white-text" style="display: inline-block; margin-right: 30px;">Søg (Alt-S)</h6>
        {% endif %}
      </div>
    </div>
    <div class="row right">
      <div class="col l12">
        <a href="{% url 'logout_view' %}" style="margin-right: 15px;">
          <h6 class="white-text" style="display: inline-block;">Log ud</h6>
        </a>
      </div>
    </div>
  </footer>

  <aside>
    <div class="modal fade" id="av_create" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">AVID på ny</h5>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'av_create' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="avid" id="avid_create" class="form-control" autofocus placeholder="18004">
              </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Opret" class="btn btn-block btn-secondary right grey darken-2 white-text">
            </form>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <aside>
    <div class="modal fade" id="av_search" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">AVID</h5>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'av_search' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="avid" id="avid_search" class="form-control" autofocus placeholder="18004">
              </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Søg" class="btn btn-block btn-secondary right grey darken-2 white-text">
            </form>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <aside>
    <div class="modal fade" id="incoming_create" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">AVID på modtaget</h5>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'incoming_procedure_view' 0 0 %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="avid" id="avid_incoming_create" class="form-control" autofocus placeholder="18004">
              </div>
          </div>
          <div class="modal-footer">
            <input type="submit" value="Opret" class="btn btn-block btn-secondary right grey darken-2 white-text">
            </form>
          </div>
        </div>
      </div>
    </div>
  </aside>

</body>

</html>