{% extends 'base.html' %}

{% block title %}Arkiveringsversioner/Søg{% endblock %}

{% block content %}
<section class="section center">
  {% if not bookmark %}
  <form action="{% url 'avs_view' %}" method="GET">

    <div class="row" style="margin: 0;">
      <div class="col l12">
        <div class="card z-depth-0" style="margin-top: -20px;">
          <div class="card-content">
            <div class="row" style="margin: 0;">
              <span class="card-title left" style="cursor: default !important;">Søgekriterier</span><br><br>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="avid_soeg" class="col-form-label left" style="color: #4C566A;">AVID</label>
                  <input type="text" name="avid_soeg" id="avid_soeg" class="form-control avid_nummer" maxlength="5" value="{{ avid | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="jnr_soeg" class="col-form-label left" style="color: #4C566A;">J.nr.</label>
                  <input type="text" name="jnr_soeg" id="jnr_soeg" class="form-control j_nummer" value="{{ jnr | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l8">
                <div class="form-group">
                  <label for="titel_soeg" class="col-form-label left" style="color: #4C566A;">Titel</label>
                  <input type="text" name="titel_soeg" id="titel_soeg" class="form-control" value="{{ titel | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="land_soeg" class="col-form-label left" style="color: #4C566A;">Land</label>
                  <select name="land_soeg" id="land_soeg" multiple>
                    {% for l in lande %}
                    {% if l in land %}
                    <option value="{{ l }}" style="color: #4C566A;" selected>{{ l }}</option>
                    {% else %}
                    <option value="{{ l }}" style="color: #4C566A;">{{ l }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="row" style="margin: 0;">
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="status_soeg" class="col-form-label left" style="color: #4C566A;">Status</label>
                  <select name="status_soeg" id="status_soeg" multiple>
                    {% for s in statusser %}
                    {% if s in status %}
                    <option value="{{ s }}" style="color: #4C566A;" selected>{{ s }}</option>
                    {% else %}
                    <option value="{{ s }}" style="color: #4C566A;">{{ s }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="kategori_soeg" class="col-form-label left" style="color: #4C566A;">Kategori</label>
                  <select name="kategori_soeg" id="kategori_soeg" multiple>
                    {% for k in kategorier %}
                    {% if k in kategori %}
                    <option value="{{ k }}" style="color: #4C566A;" selected>{{ k }}</option>
                    {% else %}
                    <option value="{{ k }}" style="color: #4C566A;">{{ k }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="klassifikation_soeg" class="col-form-label left" style="color: #4C566A;">Klassifikation</label>
                  <select name="klassifikation_soeg" id="klassifikation_soeg" multiple>
                    {% for k in klassifikationer %}
                    {% if k in klassifikation %}
                    <option value="{{ k }}" style="color: #4C566A;" selected>{{ k }}</option>
                    {% else %}
                    <option value="{{ k }}" style="color: #4C566A;">{{ k }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="arkivar_soeg" class="col-form-label left" style="color: #4C566A;">Arkivar</label>
                  <select name="arkivar_soeg" id="arkivar_soeg" multiple>
                    {% for a in arkivarer %}
                    {% if a in arkivar %}
                    <option value="{{ a }}" style="color: #4C566A;" selected>{{ a }}</option>
                    {% else %}
                    <option value="{{ a }}" style="color: #4C566A;">{{ a }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="leverandoer_soeg" class="col-form-label left" style="color: #4C566A;">Leverandør</label>
                  <select name="leverandoer_soeg" id="leverandoer_soeg" multiple>
                    {% for l in leverandoerer %}
                    {% if l in leverandoer %}
                    <option value="{{ l }}" style="color: #4C566A;" selected>{{ l }}</option>
                    {% else %}
                    <option value="{{ l }}" style="color: #4C566A;">{{ l }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="tester_soeg" class="col-form-label left" style="color: #4C566A;">Tester</label>
                  <select name="tester_soeg" id="tester_soeg" multiple>
                    {% for t in testere %}
                    {% if t in tester %}
                    <option value="{{ t }}" style="color: #4C566A;" selected>{{ t }}</option>
                    {% else %}
                    <option value="{{ t }}" style="color: #4C566A;">{{ t }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="row" style="margin: 0;">
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="modtaget_fra_soeg" class="col-form-label left" style="color: #4C566A;">Modtaget (fra)</label>
                  <input type="text" name="modtaget_fra_soeg" id="modtaget_fra_soeg" class="form-control datepicker" value="{{ modtaget_fra | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="modtaget_til_soeg" class="col-form-label left" style="color: #4C566A;">Modtaget (til)</label>
                  <input type="text" name="modtaget_til_soeg" id="modtaget_til_soeg" class="form-control datepicker" value="{{ modtaget_til | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="adgang_fra_soeg" class="col-form-label left" style="color: #4C566A;">Adgang (fra)</label>
                  <input type="text" name="adgang_fra_soeg" id="adgang_fra_soeg" class="form-control datepicker" value="{{ adgang_fra | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="adgang_til_soeg" class="col-form-label left" style="color: #4C566A;">Adgang (til)</label>
                  <input type="text" name="adgang_til_soeg" id="adgang_til_soeg" class="form-control datepicker" value="{{ adgang_til | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="svarfrist_fra_soeg" class="col-form-label left" style="color: #4C566A;">Svarfrist (fra)</label>
                  <input type="text" name="svarfrist_fra_soeg" id="svarfrist_fra_soeg" class="form-control datepicker" value="{{ svarfrist_fra | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="svarfrist_til_soeg" class="col-form-label left" style="color: #4C566A;">Svarfrist (til)</label>
                  <input type="text" name="svarfrist_til_soeg" id="svarfrist_til_soeg" class="form-control datepicker" value="{{ svarfrist_til | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="svar_fra_soeg" class="col-form-label left" style="color: #4C566A;">Svar (fra)</label>
                  <input type="text" name="svar_fra_soeg" id="svar_fra_soeg" class="form-control datepicker" value="{{ svar_fra | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group">
                  <label for="svar_til_soeg" class="col-form-label left" style="color: #4C566A;">Svar (til)</label>
                  <input type="text" name="svar_til_soeg" id="svar_til_soeg" class="form-control datepicker" value="{{ svar_til | date:'d-m-Y' | default_if_none:'' }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12">
        <div class="card z-depth-0" style="margin-top: -20px;">
          <div class="card-content">
            <span class="card-title left" style="cursor: default !important;">Resultatsortering</span><br><br>
            <div class="row" style="margin: 0;  margin-left: 5px;">
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                  <br>
                  <label class="left">
                    {% if sortering_avid %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_avid" checked />
                    <span style="color: #2E3440;">AVID</span>
                    {% else %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_avid" />
                    <span style="color: #2E3440;">AVID</span>
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                  <br>
                  <label class="left">
                    {% if sortering_status %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_status" checked />
                    <span style="color: #2E3440;">Status</span>
                    {% else %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_status" />
                    <span style="color: #2E3440;">Status</span>
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                  <br>
                  <label class="left">
                    {% if sortering_adgang %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_adgang" checked />
                    <span style="color: #2E3440;">Adgang</span>
                    {% else %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_adgang" />
                    <span style="color: #2E3440;">Adgang</span>
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                  <br>
                  <label class="left">
                    {% if sortering_svarfrist %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_svarfrist" checked />
                    <span style="color: #2E3440;">Svarfrist</span>
                    {% else %}
                    <input type="checkbox" class="radio" name="sortering" value="sortering_svarfrist" />
                    <span style="color: #2E3440;">Svarfrist</span>
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                  <br>
                  <label class="left">
                    {% if sortering_faldende %}
                    <input type="checkbox" class="radio" name="sortering_faldende" checked />
                    <span style="color: #2E3440;">Faldende</span>
                    {% else %}
                    <input type="checkbox" class="radio" name="sortering_faldende" />
                    <span style="color: #2E3440;">Faldende</span>
                    {% endif %}
                  </label>
                </div>
              </div>
              <div class="input-field col l1">
                <div class="form-group" style="margin-top: -25px;">
                </div>
              </div>
              <div class="input-field col l3">
                <div class="form-group" style="margin-top: -25px;">
                  <br>
                  <label class="left">
                    {% if enkelte_versioner %}
                    <input type="checkbox" class="radio" name="enkelte_versioner" checked />
                    <span style="color: #2E3440;">Kun seneste version</span>
                    {% else %}
                    <input type="checkbox" class="radio" name="enkelte_versioner" />
                    <span style="color: #2E3440;">Kun seneste version</span>
                    {% endif %}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12">
        <div class="card z-depth-0" style="margin-top: -45px; margin-bottom: -45px;">
          <div class="card-content">
            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding: 0; margin: 0;">
                  <button class="btn waves-effect waves-light z-depth-0" style="margin-right: -15px; background-color: #4C566A; color: #D8DEE9;" type="submit" id="soeg" name="soeg">Søg</button>
                </div>
                <div class="col right" style="padding: 0; margin: 0;">
                  <a href="{% url 'avs_view' 1 %}">
                    <button class="btn waves-effect waves-light z-depth-0" style="margin-right: 20px; background-color: #D08770; color: #4C566A;" type="button" id="fortryd" name="fortryd">Nulstil</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  {% endif %}

  {% if not nulstil %}
  <div class="row">
    <div class="col l12">
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title center" style="cursor: default !important;">{{ resultat|length }} versioner med en samlet størrelse på {{ samlet_stoerrrelse }} GB</span><br><br>
          <div class="row">
            <div class="col l6">
              {% if not bookmark %}
              <a href="{{ xls }}" class="waves-effect waves-light btn grey darken-2">Hent XLSX</a>
              <br><br><br><br>
              {% endif %}
            </div>
            <div class="col l6">
              {% if not bookmark %}
              <a href="{{ book }}" class="waves-effect waves-light btn grey darken-2">Bookmark</a>
              <br><br><br><br>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col l12">
      <div class="card z-depth-0" style="margin-top: -105px;">
        <div class="card-content">
          <table>
            <thead>
              <tr style="color: #4C566A;">
                <th></th>
                <th style="cursor: default !important;">AVID</th>
                <th style="cursor: default !important;"></th>
                <th style="cursor: default !important;">Titel</th>
                <th style="cursor: default !important;">Land</th>
                <th style="cursor: default !important;">Status</th>
                <th style="cursor: default !important;">Kategori</th>
                <th style="cursor: default !important;">Tester</th>
                <th style="cursor: default !important;">Adgang</th>
                <th style="cursor: default !important;">Svarfrist</th>
                <th style="cursor: default !important; text-align:right;">Størrelse</th>
                <th style="cursor: default !important;">Medie</th>
              </tr>
            </thead>
            <tbody>
              {% for r in resultat %}
              <tr style="line-height: 1;">
                <td><a href="{% url 'av_view' r.avid r.version %}"><i class="material-icons" style="color: #4C566A;">edit</i></a></td>
                <td>{{ r.avid | default_if_none:'' }}</td>
                <td>({{ r.version | default_if_none:'' }})</td>
                <td>{{ r.titel | default_if_none:'' }}</td>
                <td>{{ r.land | default_if_none:'' }}</td>
                <td>{{ r.status | default_if_none:'' }}</td>
                <td>{{ r.kategori | default_if_none:'' }}</td>
                <td>{{ r.tester | default_if_none:'' }}</td>
                <td>{{ r.adgang | default_if_none:'' }}</td>
                <td>{{ r.svarfrist | default_if_none:'' }}</td>
                <td style="text-align:right">{{ r.stoerrelse | default_if_none:'' }}</td>
                <td>{{ r.medie | default_if_none:'' }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</section>

<script>
  $(document).ready(function () {
    $('.datepicker').datepicker({
      'autoClose': true,
      'format': 'dd-mm-yyyy',
      'firstDay': 1,
      'yearRange': 5,
      'showMonthAfterYear': false,
      'disableWeekends': false,
      'showClearBtn': true,
      'showDaysInNextAndPreviousMonths': true,
      i18n: {
        months: ['januar', 'februar', 'marts', 'april', 'maj', 'juni', 'juli', 'august', 'september', 'oktober', 'november', 'december'],
        monthsShort: ["jan", "feb", "mar", "apr", "maj", "jun", "jul", "aug", "sep", "okt", "nov", "dec"],
        weekdays: ["søndag", "mandag", "tirsdag", "onsdag", "torsdag", "fredag", "lørdag"],
        weekdaysShort: ["søn", "man", "tir", "ons", "tor", "fre", "lør"],
        cancel: '',
        done: '',
        clear: 'Ryd',
        formatSubmit: 'dd-mm-yyyy',
      }
    });

    $("input:checkbox").on('click', function () {
      let $box = $(this);
      if (!$box.attr("readonly")) {
        if ($box.is(":checked")) {
          let group = "input:checkbox[name='" + $box.attr("name") + "']";
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      }
    });
  })
</script>

{% endblock content %}