{% extends 'base.html' %}

{% block title %}META - Opgaver{% endblock %}

{% block content %}

<section class="section section-stats center">
  <div class="row">
    <div class="col l6">
      <div class="card-panel grey darken-2 white-text center">
        <h5>Statslige ({{statslige_count}})</h5>
      </div>
    </div>
    <div class="col l6">
      <div class="card-panel grey darken-2 white-text center">
        <h5>Kommunale ({{kommunale_count}})</h5>
      </div>
    </div>
  </div>
</section>

<section class="section section-stats center">
  <div class="row" style="margin-top: -50px;">

    <div class="col l6">
      {% if statslige != None %}
      <div class="card-panel">
        <table class="striped" style="margin-top: -24px;">
          <thead>
            <tr class="grey-text text-darken-2">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              {% if backoffice %}
              <th></th>
              <th></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for av in statslige %}
            <tr>
              <td><a href="{% url 'av_assign' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">bug_report</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
              <td>{{ av.avid }}</td>
              <td>({{ av.version }})</td>
              <td>{{ av.titel }}</td>
              <td>{{ av.svarfrist|date:'d.m.Y' }}</td>
              {% if av.tester.profile.initialer %}
              <td>{{ av.tester.profile.initialer }}</td>
              {% else %}
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              {% endif %}
              {% if backoffice %}
              {% if av.prioritering != 0 and av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_up</i></a></td>
              {% elif av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">add</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% if av.prioritering != 0 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'down' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_down</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>

    <div class="col l6">
      {% if statslige != None %}
      <div class="card-panel">
        <table class="striped" style="margin-top: -24px;">
          <thead>
            <tr class="grey-text text-darken-2">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              {% if backoffice %}
              <th></th>
              <th></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for av in kommunale %}
            <tr>
              <td><a href="{% url 'av_assign' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">bug_report</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}" class="grey-text text-darken-2">{{ av.avid }}</a></td>
              <td>({{ av.version }})</td>
              <td>{{ av.titel }}</td>
              <td>{{ av.svarfrist|date:'d.m.Y' }}</td>
              {% if av.tester.profile.initialer %}
              <td>{{ av.tester.profile.initialer }}</td>
              {% else %}
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              {% endif %}
              {% if backoffice %}
              {% if av.prioritering != 0 and av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_up</i></a></td>
              {% elif av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">add</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% if av.prioritering != 0 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'down' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_down</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>

  </div>
</section>

<section class="section section-stats center">
  <div class="row" style="margin-top: -50px;">
    <div class="col l6">
      <div class="card-panel grey darken-2 white-text center">
        <h5>Private ({{private_count}})</h5>
      </div>
    </div>
    <div class="col l6">
      <div class="card-panel grey darken-2 white-text center">
        <h5>Klassificerede ({{klassificerede_count}})</h5>
      </div>
    </div>
  </div>
</section>

<section class="section section-stats center">
  <div class="row" style="margin-top: -50px;">

    <div class="col l6">
      {% if private != None %}
      <div class="card-panel">
        <table class="striped" style="margin-top: -24px;">
          <thead>
            <tr class="grey-text text-darken-2">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              {% if backoffice %}
              <th></th>
              <th></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for av in private %}
            <tr>
              <td><a href="{% url 'av_assign' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">bug_report</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}" class="grey-text text-darken-2">{{ av.avid }}</a></td>
              <td>({{ av.version }})</td>
              <td>{{ av.titel }}</td>
              <td>{{ av.svarfrist|date:'d.m.Y' }}</td>
              {% if av.tester.profile.initialer %}
              <td>{{ av.tester.profile.initialer }}</td>
              {% else %}
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              {% endif %}
              {% if backoffice %}
              {% if av.prioritering != 0 and av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_up</i></a></td>
              {% elif av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">add</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% if av.prioritering != 0 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'down' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_down</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>

    <div class="col l6">
      {% if klassificerede != None %}
      <div class="card-panel">
        <table class="striped" style="margin-top: -24px;">
          <thead>
            <tr class="grey-text text-darken-2">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              {% if backoffice %}
              <th></th>
              <th></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for av in klassificerede %}
            <tr>
              <td><a href="{% url 'av_assign' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">bug_report</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
              <td><a href="{% url 'av_view' av.avid av.version %}" class="grey-text text-darken-2">{{ av.avid }}</a></td>
              <td>({{ av.version }})</td>
              <td>{{ av.titel }}</td>
              <td>{{ av.svarfrist|date:'d.m.Y' }}</td>
              {% if av.tester.profile.initialer %}
              <td>{{ av.tester.profile.initialer }}</td>
              {% else %}
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              {% endif %}
              {% if backoffice %}
              {% if av.prioritering != 0 and av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_up</i></a></td>
              {% elif av.prioritering != -255 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'up' %}"><i class="material-icons grey-text text-darken-2">add</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% if av.prioritering != 0 %}
              <td><a href="{% url 'av_prio' av.avid av.version 'down' %}"><i class="material-icons grey-text text-darken-2">keyboard_arrow_down</i></a></td>
              {% else %}
              <td></td>
              {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>

  </div>
</section>

{% endblock content %}