{% extends 'base.html' %}

{% block title %}META - Medier{% endblock %}

{% block content %}

<section class="section center">
  <div class=" row">
    <div class="col l10 offset-l1">
      <div class="card">
        <div class="card-content">
          <table class="striped" style="margin-top: -14px;">
            <thead>
              <tr class="grey-text text-darken-2">
                <th><a href="{% url 'drive_create' %}"><i class="material-icons grey-text text-darken-2">add</i></th>
                <th>Navn</th>
                <th>Producent</th>
                <th>Kapacitet</th>
                <th>Type</th>
                <th>Maskine</th>
                <th>Avids</th>
                <th>DEAs</th>
              </tr>
            </thead>
            <tbody>
              {% for m in medier %}
              <tr>
                <td><a href="{% url 'drive_view' m.pk %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
                <td>{{ m.navn }}</td>
                <td>{{ m.producent }}</td>
                <td>{{ m.kapacitet }}</td>
                <td>{{ m.type }}</td>
                <td>{{ m.maskine }}</td>
                <td>
                  {% for av in m.avs %}
                  <a href="{% url 'av_view' av.avid av.version %}" style="margin-right: 10px;">{{ av.avid }}</a>
                  {% endfor %}
                </td>
                <td>
                  {% for dea in m.deas %}
                  <a href="{% url 'av_view' dea.avid dea.version %}" style="margin-right: 10px;">{{ dea.avid }}</a>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}