{% extends 'base.html' %}

{% block title %}META - Modtagelse - Kvittering{% endblock %}

{% block content %}

<section class="section center">
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <form action="{% url 'incoming_procedure_save' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="previous_status" value="Oprettelse">
            <input type="hidden" name="next_status" value="Kodeord">
            <input type="hidden" name="avid" value="{{ form.avid }}">
            <input type="hidden" name="version" value="{{ form.version }}">

            <div class="row">
              <span class="card-title grey-text darken-2-text" style="font-weight: bold;">Modtagelse af AVID.{{ av.avid }} (v{{ av.version }})&nbsp;&nbsp;—&nbsp;&nbsp;{{ form.status }}</span>
            </div>

            <div class="row">
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left grey-text darken-2-text">J.nr.</label>
                  <input type="hidden" name="h_i_jnr">
                  {% if av.version == 1 %}
                  <input type="text" name="jnr" id="jnr" class="form-control" value="{{ av.jnr }}">
                  {% else %}
                  <input type="text" name="jnr" id="jnr" class="form-control" value="{{ av.jnr }}" readonly>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12 left-align">
                <ul class="collection">
                  <li class="collection-item">
                    <label for="m_kontakter">
                      <input type="hidden" name="h_kontakter" />
                      {% if form.kontakter == True %}
                      <input type="checkbox" name="m_kontakter" id="m_kontakter" checked />
                      {% else %}
                      <input type="checkbox" name="m_kontakter" id="m_kontakter" />
                      {% endif %}
                      <span class="grey-text">redigér eksterne kontakter på sagen i Public 360</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_kvittering">
                      <input type="hidden" name="h_kvittering" />
                      {% if form.kvittering == True %}
                      <input type="checkbox" name="m_kvittering" id="m_kvittering" checked />
                      {% else %}
                      <input type="checkbox" name="m_kvittering" id="m_kvittering" />
                      {% endif %}
                      <span class="grey-text">send kvittering (ved ny arkiveringsverion, CC. arkivar) og journalisér i Public 360</span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 40px;">
                    <label for="t_kvittering">
                      <span class="black-text" style="font-size: medium;"><i>journalisér kvittering som "Udgående dokument" med titlen "xxxxx, kvittering"</i></span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_hylde_modtaget">
                      <input type="hidden" name="h_hylde_modtaget" />
                      {% if form.hylde_modtaget == True %}
                      <input type="checkbox" name="m_hylde_modtaget" id="m_hylde_modtaget" checked />
                      {% else %}
                      <input type="checkbox" name="m_hylde_modtaget" id="m_hylde_modtaget" />
                      {% endif %}
                      <span class="grey-text">placér afleveringsmediet på hylden "Modtaget"</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey darken-2 white-text" type="submit" id="gem" name="gem">Gem</button>
                </div>
                <div class="col left" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey" type="submit" id="previous" name="previous">Forrige</button>
                </div>
                <div class="col left" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey" data-position="top" type="submit" id="next" name="next">Næste</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}