{% extends 'base.html' %}

{% block title %}META - Modtagelse{% endblock %}

{% block content %}

<section class="section section-stats center">
  <div class=" row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <table class="striped" style="margin-top: -14px;">
            <thead>
              <tr class="grey-text darken-2-text">
                <th></th>
                <th>AVID</th>
                <th></th>
                <th></th>
                <th>Titel</th>
                <th>Modtaget</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for av in avs %}
              <tr>
                <td><a href="{% url 'incoming_procedure_view' av.av.avid av.av.version %}">{% if av.afsluttet != True %}<i class="material-icons grey-text darken-2-text">edit</i>{% else %}<i class="material-icons grey-text darken-2-text">visibility</i>{% endif%}</a></td>
                <td>{{ av.av.avid }}&nbsp;&nbsp;({{ av.av.version }})</td>
                <td></td>
                <td>{% if av.av.kategori.kategori == 'Stat' %}<i class="material-icons grey-text darken-2-text">account_balance</i>{% elif av.av.kategori.kategori == 'Kommune' %}<i class="material-icons grey-text darken-2-text">apartment</i>{% elif av.av.kategori.kategori == 'Privat' %}<i class="material-icons grey-text darken-2-text">person</i>{% elif av.av.kategori.kategori == 'Klassificeret' %}<i class="material-icons grey-text darken-2-text">security</i>{% endif%}</td>
                <td>{{ av.av.titel }}</td>
                <td>{{ av.av.modtaget|date:'d.m.Y' }}</td>
                <td>{{ av.av.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}