{% extends 'base.html' %}

{% block title %}META - Modtagelse - Kopiering{% endblock %}

{% block content %}

<section class="section center">
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <form action="{% url 'incoming_procedure_save' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="previous_status" value="Journalisering">
            <input type="hidden" name="next_status" value="Kopiering">
            <input type="hidden" name="avid" value="{{ form.avid }}">
            <input type="hidden" name="version" value="{{ form.version }}">

            <div class="row">
              <span class="card-title grey-text darken-2-text" style="font-weight: bold;">Modtagelse af AVID.{{ av.avid }} (v{{ av.version }})&nbsp;&nbsp;—&nbsp;&nbsp;{{ form.status }}</span>
            </div>

            <div class="row">
              <div class="col l12 left-align">
                <ul class="collection">
                  <li class="collection-item">
                    <label for="m_find_dokument">
                      <input type="hidden" name="h_find_dokument" />
                      {% if form.find_dokument == True %}
                      <input type="checkbox" name="m_find_dokument" id="m_find_dokument" checked />
                      {% else %}
                      <input type="checkbox" name="m_find_dokument" id="m_find_dokument" />
                      {% endif %}
                      <span class="grey-text">find sagsdokument med kodeord i Public 360</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_print_kodeord">
                      <input type="hidden" name="h_print_kodeord" />
                      {% if form.print_kodeord == True %}
                      <input type="checkbox" name="m_print_kodeord" id="m_print_kodeord" checked />
                      {% else %}
                      <input type="checkbox" name="m_print_kodeord" id="m_print_kodeord" />
                      {% endif %}
                      <span class="grey-text">print kodeord eller kopiér dette til en Grøn/Sort-net USB-nøgle</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_luk_medie_op">
                      <input type="hidden" name="h_luk_medie_op" />
                      {% if form.luk_medie_op == True %}
                      <input type="checkbox" name="m_luk_medie_op" id="m_luk_medie_op" checked />
                      {% else %}
                      <input type="checkbox" name="m_luk_medie_op" id="m_luk_medie_op" />
                      {% endif %}
                      <span class="grey-text">sæt afleveringsmediet i en modtagelsesmaskine og tilgå mediet med kodeordet</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="storrelse" class="col-form-label left grey-text darken-2-text">Størrelse i GB</label>
                  <input type="hidden" name="h_storrelse">
                  <input type="text" name="storrelse" id="storrelse" class="form-control" value="{{ av.storrelse }}">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="input-field col l6">
                <div class="form-group">
                  <label for="av_medier" class="col-form-label left grey-text text-darken-2">AV Medie(r)</label>
                  <input type="hidden" id="av_medier" name="av_medier" value="{{ ibrugtaget_medier }}">
                  <div class="chips chips-initial av_medier"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12 left-align">
                <ul class="collection">
                  <li class="collection-item">
                    <label for="m_bestem_storrelse">
                      <input type="hidden" name="h_bestem_storrelse" />
                      {% if form.bestem_storrelse == True %}
                      <input type="checkbox" name="m_bestem_storrelse" id="m_bestem_storrelse" checked />
                      {% else %}
                      <input type="checkbox" name="m_bestem_storrelse" id="m_bestem_storrelse" />
                      {% endif %}
                      <span class="grey-text">bestem den samlede størrelse i GB på arkiveringsversionen</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_indtast_storrelse">
                      <input type="hidden" name="h_indtast_storrelse" />
                      {% if form.indtast_storrelse == True %}
                      <input type="checkbox" name="m_indtast_storrelse" id="m_indtast_storrelse" checked />
                      {% else %}
                      <input type="checkbox" name="m_indtast_storrelse" id="m_indtast_storrelse" />
                      {% endif %}
                      <span class="grey-text">indtast samlede størrelse i GB i feltet 'Størrelse i GB' og under IB-feltet "IT: Størrelse(GB)" i Public 360</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_find_sortnet">
                      <input type="hidden" name="h_find_sortnet" />
                      {% if form.find_sortnet == True %}
                      <input type="checkbox" name="m_find_sortnet" id="m_find_sortnet" checked />
                      {% else %}
                      <input type="checkbox" name="m_find_sortnet" id="m_find_sortnet" />
                      {% endif %}
                      <span class="grey-text">find Sortnet-medie(r) med passende kapacitet og scan dette/disse i 'AV Medie(r)'</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_kopier_av">
                      <input type="hidden" name="h_kopier_av" />
                      {% if form.kopier_av == True %}
                      <input type="checkbox" name="m_kopier_av" id="m_kopier_av" checked />
                      {% else %}
                      <input type="checkbox" name="m_kopier_av" id="m_kopier_av" />
                      {% endif %}
                      <span class="grey-text">kopiér arkiveringsversionen til Sortnet-medie(r)</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_kopieret_hylde">
                      <input type="hidden" name="h_kopieret_hylde" />
                      {% if form.kopieret_hylde == True %}
                      <input type="checkbox" name="m_kopieret_hylde" id="m_kopieret_hylde" checked />
                      {% else %}
                      <input type="checkbox" name="m_kopieret_hylde" id="m_kopieret_hylde" />
                      {% endif %}
                      <span class="grey-text">placér Sortnet-medie(r) på hylden "Kopieret"</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_placer_kasse">
                      <input type="hidden" name="h_placer_kasse" />
                      {% if form.placer_kasse == True %}
                      <input type="checkbox" name="m_placer_kasse" id="m_placer_kasse" checked />
                      {% else %}
                      <input type="checkbox" name="m_placer_kasse" id="m_placer_kasse" />
                      {% endif %}
                      <span class="grey-text">placér afleveringsmediet på hylden "Afleveringsmedier"</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey darken-2 white-text" type="submit" id="gem" name="gem">Gem</button>
                </div>
                <div class="col left" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey" type="submit" id="previous" name="previous">Forrige</button>
                </div>
                <div class="col left" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey" data-position="top" type="submit" id="end" name="end">Afslut</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}