{% extends 'base.html' %}

{% block title %}META - Modtagelse - Journalisering{% endblock %}

{% block content %}

<section class="section center">
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <form action="{% url 'incoming_procedure_save' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="previous_status" value="Kodeord">
            <input type="hidden" name="next_status" value="Kopiering">
            <input type="hidden" name="avid" value="{{ form.avid }}">
            <input type="hidden" name="version" value="{{ form.version }}">

            <div class="row">
              <span class="card-title grey-text darken-2-text" style="font-weight: bold;">Modtagelse af AVID.{{ av.avid }} (v{{ av.version }})&nbsp;&nbsp;—&nbsp;&nbsp;{{ form.status }}</span>
            </div>

            <div class="row">
              <div class="input-field col l2">
                <div class="form-group">
                  <label for="jnr" class="col-form-label left grey-text darken-2-text">J.nr.</label>
                  <input type="text" name="jnr" id="jnr" class="form-control" value="{{ av.jnr }}" readonly>
                </div>
              </div>
              <div class=" input-field col l2">
                <div class="form-group">
                  <label for="kodeord" class="col-form-label left grey-text darken-2-text">Dato-modtaget</label>
                  <input type="text" class="datepicker" name="kodeord" id="kodeord_" value="{{ av.kodeord|date:'d.m.Y' }}" readonly>
                </div>
              </div>
              <div class=" input-field col l2">
                <div class="form-group">
                  <label for="svarfrist" class="col-form-label left grey-text darken-2-text">Forfaldsdato</label>
                  <input type="text" class="datepicker" name="svarfrist" id="svarfrist_" value="{{ av.svarfrist|date:'d.m.Y' }}" readonly>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col l12 left-align">
                <ul class="collection">
                  <li class="collection-item">
                    <label for="m_find_epost_modtaget">
                      <input type="hidden" name="h_find_epost_modtaget" />
                      {% if form.find_epost_modtaget == True %}
                      <input type="checkbox" name="m_find_epost_modtaget" id="m_find_epost_modtaget" checked />
                      {% else %}
                      <input type="checkbox" name="m_find_epost_modtaget" id="m_find_epost_modtaget" />
                      {% endif %}
                      <span class="grey-text">find e-post med følgeseddel i mappen "Modtaget" i "Enhedspostkassen" i Outlook</span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_journaliser_modtaget">
                      <input type="hidden" name="h_journaliser_modtaget" />
                      {% if form.journaliser_modtaget == True %}
                      <input type="checkbox" name="m_journaliser_modtaget" id="m_journaliser_modtaget" checked />
                      {% else %}
                      <input type="checkbox" name="m_journaliser_modtaget" id="m_journaliser_modtaget" />
                      {% endif %}
                      <span class="grey-text">journalisér e-post med følgeseddel i Public 360</span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 40px;">
                    <label for="t_journaliser_modtaget_1">
                      <span class="black-text" style="font-size: medium;"><i>journalisér e-post med følgeseddel som "Indgående dokument med opfølgning"</i></span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 60px;">
                    <label for="t_journaliser_modtaget_2">
                      <span class="black-text" style="font-size: medium;"><i>med titel "xxxxx, aflevering" hvis 'v = 1'</i></span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 60px;">
                    <label for="t_journaliser_modtaget_3">
                      <span class="black-text" style="font-size: medium;"><i>med titel "xxxxx, genaflevering" hvis 'v > 1'</i></span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 60px;">
                    <label for="t_journaliser_modtaget_4">
                      <span class="black-text" style="font-size: medium;"><i>med "Dato-modtaget" som ovenfor</i></span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 60px;">
                    <label for="t_journaliser_modtaget_5">
                      <span class="black-text" style="font-size: medium;"><i>med "Forfaldsdato" som ovenfor</i></span>
                    </label>
                  </li>
                  <li class="collection-item" style="margin-left: 60px;">
                    <label for="t_journaliser_modtaget_6">
                      <span class="black-text" style="font-size: medium;"><i>med stikordet "Aflevering"</i></span>
                    </label>
                  </li>
                  <li class="collection-item">
                    <label for="m_slet_epost_modtaget">
                      <input type="hidden" name="h_slet_epost_modtaget" />
                      {% if form.slet_epost_modtaget == True %}
                      <input type="checkbox" name="m_slet_epost_modtaget" id="m_slet_epost_modtaget" checked />
                      {% else %}
                      <input type="checkbox" name="m_slet_epost_modtaget" id="m_slet_epost_modtaget" />
                      {% endif %}
                      <span class="grey-text">træk e-post med følgeseddel over i mappen "Slettet post" i "Enhedspostkassen" i Outlook</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey darken-2 white-text" type="submit" id="gem" name="gem">Gem</button>
                </div>
                <div class="col left" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey" type="submit" id="previous" name="previous">Forrige</button>
                </div>
                <div class="col left" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey" data-position="top" type="submit" id="next" name="next">Næste</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}