{% extends 'loginout.html' %}

{% block title %}META - Log ud{% endblock %}

{% block content %}

<section class="section section-login">
    <div class="container">
        <div class="row">
            <br><br>
            <div class="col s12 m12 l6 offset-l3">
                <div class="card-panel login grey darken-2 white-text center">
                    <h5>Du er nu logget af META</h5>
                    <br>
                    <p></p>
                    <br><br>
                    <a href="{% url 'login_view' %}" class="btn white grey-text text-darken-2">Log ind</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}