{% extends 'base.html' %}

{% block title %}META - Maskine{% endblock %}

{% block content %}

<section class="section center">
  <div class=" row">
    <div class="col l4 offset-l4">
      <div class="card">
        <div class="card-content">
          <form action="{% url 'machine_save' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="navn" class="col-form-label left grey-text text-darken-2">Navn</label>
                  <input type="text" name="navn" id="navn" class="form-control" value="{{ maskine.navn }}" spellcheck="false" autofocus>
                  <input type="hidden" name="pk" id="pk" value="{{ maskine.pk }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="processor" class="col-form-label left grey-text text-darken-2">Processor</label>
                  <input type="text" name="processor" id="processor" class="form-control" value="{{ maskine.processor }}" spellcheck="false">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="bundkort" class="col-form-label left grey-text text-darken-2">Bundkort</label>
                  <input type="text" name="bundkort" id="bundkort" class="form-control" value="{{ maskine.bundkort }}" spellcheck="false">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="arbejdshukommelse" class="col-form-label left grey-text text-darken-2">Arbejdshukommelse i GB</label>
                  <input type="text" name="arbejdshukommelse" id="arbejdshukommelse" class="form-control" value="{{ maskine.arbejdshukommelse }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey white-text" type="submit" id="gem" name="action">Gem</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}