{% extends 'base.html' %}

{% block title %}META - Maskiner{% endblock %}

{% block content %}

<section class="section center">
  <div class=" row">
    <div class="col l10 offset-l1">
      <div class="card">
        <div class="card-content">
          <table class="striped" style="margin-top: -14px;">
            <thead>
              <tr class="grey-text text-darken-2">
                <th><a href="{% url 'machine_create' %}"><i class="material-icons grey-text text-darken-2">add</i></a></th>
                <th>Navn</th>
                <th>Processor</th>
                <th>Bundkort</th>
                <th>Arbejdshukommelse i GB</th>
                <th>Medier</th>
                <th>Avids</th>
              </tr>
            </thead>
            <tbody>
              {% for m in maskiner %}
              <tr>
                <td><a href="{% url 'machine_view' m.pk %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
                <td>{{ m.navn }}</td>
                <td>{{ m.processor }}</td>
                <td>{{ m.bundkort }}</td>
                <td>{{ m.arbejdshukommelse }}</td>
                <td>
                  {{ medier }}
                  {% for medie in m.medier %}
                  <span style="margin-right: 10px;">{{ medie }}</span>
                  {% endfor %}
                </td>
                <td>
                  {% for av in m.avs %}
                  <a href="{% url 'av_view' av.avid av.version %}" style="margin-right: 10px;">{{ av.avid }}</a>
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}