{% extends 'base.html' %}

{% block title %}META - Leverandør{% endblock %}

{% block content %}

<section class="section center">
  <div class=" row">
    <div class="col l4 offset-l4">
      <div class="card">
        <div class="card-content">
          <form action="{% url 'supplier_save' %}" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col l12">
                <div class="form-group">
                  <label for="leverandor" class="col-form-label left grey-text text-darken-2">Navn</label>
                  <input type="text" name="leverandor" id="leverandor" class="form-control" value="{{ leverandor.navn }}" spellcheck="false" autofocus>
                  <input type="hidden" name="pk" id="pk" value="{{ leverandor.pk }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card-action col l12">
                <div class="col right" style="padding-top: 20px;">
                  <button class="btn waves-effect waves-light l4 grey white-text" type="submit" id="gem" name="action">Gem</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}