{% extends 'base.html' %}

{% block title %}META - Leverandører{% endblock %}

{% block content %}

<section class="section center">
    <div class=" row">
        <div class="col l4 offset-l4">
            <div class="card">
                <div class="card-content">
                    <table class="striped" style="margin-top: -14px;">
                        <thead>
                            <tr class="grey-text text-darken-2">
                                <th><a href="{% url 'supplier_create' %}"><i class="material-icons grey-text text-darken-2">add</i></a></th>
                                <th>Navn</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in leverandorer %}
                            <tr>
                                <td><a href="{% url 'supplier_view' l.pk %}"><i class="material-icons grey-text text-darken-2">edit</i></a></td>
                                <td>{{ l.navn }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}