{% extends 'base.html' %}

{% block title %}META - Upload{% endblock %}

{% block content %}

<section class="section center">
  <div class=" row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <button type="submit">Upload file</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}